<header>
    <ul>
        <li><a href={% url 'home' %}>Home</a></li>
        <li><a href={% url 'register' %}>Register</a></li>
        <li><a href={% url 'login_user' %}>Login</a></li>
        <li><a href={% url 'logout' %}>Logout</a></li>
        <li><a href={% url 'chocos' %}> Chocos</a></li>
        <li><a href={% url 'companys' %}> Companys</a></li>
        <li><a href={% url 'peoples' %}> Peoples</a></li>
        <li><a href={% url 'cars' %}>Cars</a></li>
        <li><a href={% url 'stocks' %}>Stocks</a></li>
        <li><a href={% url 'members' %}>Members</a></li>
        <li><a href={% url 'students' %}>Students</a></li>
        <li><a href={% url 'teachers' %}>Teachers</a></li>
        <li><a href={% url 'cold_drinks' %}>Cold_drinks</a></li>



    </ul>
</header>