{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
       Log in - Asma's Website
    </title>
</head>
<head>
<link rel="stylesheet" href={% static 'templates.css' %}>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% include 'header.html' %}
  <br>

</head>
<body>
  {% for message in messages %}
    
           {{ message }}

{% endfor %}
  
  <h2>User Login</h2>

  <form method="POST" action="/user/login/">
    {% csrf_token %}

    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>

  </form>
  <br>

  <a href="{% url 'register' %}">Create New Account</a>
</body>

</html>
{% include 'footer.html' %}