{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Members Table</title>
</head>

<link rel="stylesheet" href={% static 'templates.css' %}>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% include 'header.html' %}

<br>
<h1>Members Table</h1>

<body>

    <table style="width:100%">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>LastName</th>
                <th>Info</th>
                <th>Delete</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                {% if members %}
                {% for member in members %}

                <td>
                    {{member.firstname}}
                </td>
                <td>
                    {{member.lastname}}
                </td>
                <td>
                    <a href="{% url 'm_name' member.id %}">ℹ️</a>
                </td>
                <td>
                    <a href="{% url 'delete-member' member.id %}">🗑️</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <li>Sorry, no records found </li>
            {% endif %}

        </tbody>
    </table>
    <a href="{% url 'add-member' %}">go to add new member</a>
      {% include 'footer.html' %}
</body>

</html>