   th,
   td {
     background-color: rgb(216, 226, 235);
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 30px;
     padding-right: 40px;
   }

   th {
     background-color: rgb(88, 103, 197);
   }

   body {
     background-color: rgb(178, 229, 246);
   }

   table,
   th,
   td {
     border-radius: 5px;
     border: 2px solid blue;
     padding: 1px;
     width: 200px;
     height: 25px;
     text-align: center;
   }

   h1 {
     text-shadow: 2px 2px 5px blue;
     text-align: center;
   }

   h2 {
     text-shadow: 2px 2px 5px blue;
     text-align: center;
   }

   ul {
     list-style-type: none;
     margin: 0;
     padding: 5;
     overflow: hidden;
     background-color: #333333;


   }

   ul li {
     float: left;
   }

   ul li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 70px;
     text-decoration: none;
   }

   ul li a:hover {
     background-color: #111111;
   }


   footer {
     text-align: right;
     padding: 8px;
     background-color: #333333;
     color: white;
     position: fixed;
     bottom: 0;
     width: 98%;
   }

   .fa {

     color: white;
     text-align: center;
   }

   .btn {
     display: inline-block;
     padding: 12px 25px;
     background-color: lightseagreen;
     color: white;
     text-decoration: none;
     border-radius: 8px;
     font-size: 16px;
     font-weight: 600;
     transition: 0.3s ease;
     text-align: center;

   }

   .btn:hover {
     background-color: lightseagreen;
     transform: translateY(-2px);
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   }

   .center-btn {
     text-align: center;
     /* centers inline elements */
     margin-top: 20px;
   }

   p {
     text-align: center;
   }